
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.angular-google-map-container { height: 470px; }

.map-marker {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.3em;
    border: medium #fff;
    color: brown;
}
