<img style="-webkit-user-select: none" src="http://www.cs.utah.edu/~gk/atwork/helicon.gif">
<!-- Portfolio Item Heading -->
<header class="row">
    <section class="col-md-12" id="breadcrumbs" ng-if="false" >
        <a href="#/dharma-dictionary/0" >Dharma Definitions</a> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <strong>Definitions</strong>
    </section>
    <div class="col-md-12">
        <h1 class="page-header">{{ddefs[params.defId].Title}}</h1>
    </div>
</header>
<!-- /.row -->

<!-- Portfolio Item Row -->
<main class="row" id="details">
    <!-- img class="img-responsive" src="http://placehold.it/700x400" alt="" -->
    <article class="col-md-7">
        <h4>Term</h4>
        <p>{{ddefs[params.defId].Title}}</p>
        <h4>Url</h4>
        <p>{{ddefs[params.defId].Url}}</p>
        <section ng-bind-html="myHTML"></section>
    </article>

     <section id="nav-back" >
            <a href="#/dharma-dictionary/{{ params.defId - 1 }} " ng-if="params.defId > 0"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Definition</a>
            <a href="#/dharma-dictionary/0"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Dharma dictionary top</a>
            <a href="#/dharma-dictionary/{{ params.defId * 1 + 1 }}" ng-if="params.defId * 1 + 1 < ddefs.length"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Next Definition</a>
    </section>
    
    
    <aside class="col-md-5">
        <ul ng-repeat="ddef in ddefs">
            <li ng-if="$index != params.defId">
                <a href="/#/dharma-dictionary/{{ $index }}">{{ ddef.Title }}</a>
            </li>
            <li ng-if="$index == params.defId">
                <strong>{{ ddef.Title }}</strong>
            </li>
        </ul>
    </aside>
</main>

